<?php
$CONFIG = [
  {% if (secrets.nextcloud_instanceid) %}'instanceid' => '{{ secrets.nextcloud_instanceid }}',
  {% endif %}
  {% if (secrets.nextcloud_passwordsalt) %}'passwordsalt' => '{{ secrets.nextcloud_passwordsalt }}',
  {% endif %}
  {% if (secrets.nextcloud_secret) %}'secret' => '{{ secrets.nextcloud_secret }}',
  {% endif %}
  'trusted_domains' =>
  array (
    0 => '{{ inventory_hostname }}',
    1 => '{{ inventory_hostname }}:9443',
  ),
  'trusted_proxies' =>
  array (
    0 => '127.0.0.1',
    1 => '::1',
    2 => '2a03:4000:45:587:c8f4:e9ff:fe49:ddfd',
  ),
  'default_language' => 'de',
  'default_locale' => 'de_DE',
  'theme' => '',
  'datadirectory' => '{{ nextcloud_data_dir }}',
  'dbtype' => 'mysql',
  'version' => '20.0.1.1',
  'overwrite.cli.url' => '{% if (config_ssl) %}https{% else %}http{% endif %}://{{ inventory_hostname }}',
  'overwritehost' => '{{ inventory_hostname }}',
  'overwriteprotocol' => '{% if (config_ssl) %}https{% else %}http{% endif %}',
  'auth.bruteforce.protection.enabled' => false,
  'remember_login_cookie_lifetime' => 1296000,
  'session_lifetime' => 86400,
  'session_keepalive' => true,
  'dbname' => '{{ db_name }}',
  'dbhost' => '127.0.0.1',
  'dbport' => '3306',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ db_user }}',
  'dbpassword' => '{{ secrets.db_password_user }}',
  'mysql.utf8mb4' => true,
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' => 
  array (
    'host' => '/var/run/redis/redis.sock',
    'port' => 0,
    'timeout' => 0.0,
    'password' => '{{ secrets.redis_password }}',
  ),
  'debug' => false,
  'loglevel' => 2,
  'log_type' => 'file',
  'logfile' => '',
  'logfilemode' => 416,
  'log_rotate_size' => 2097152,
  'logtimezone' => 'Europe/Berlin',
  'syslog_tag' => 'Nextcloud',
  'preview_max_x' => 1024,
  'preview_max_y' => 768,
  'preview_max_scale_factor' => 1,
  'installed' => true,
  'maintenance' => false,
  'updater.release.channel' => 'stable',
  'trashbin_retention_obligation' => 'auto, 7',
  'mail_smtpport' => '{{ nextcloud_mail_smtpport }}',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => '{{ nextcloud_mail_smtpmode }}',
  'mail_from_address' => '{{ nextcloud_mail_from_address }}',
  'mail_domain' => '{{ nextcloud_mail_domain }}',
  'mail_smtpauthtype' => '{{ nextcloud_mail_smtpauthtype }}',
  'mail_smtphost' => '{{ nextcloud_mail_smtphost }}',
  'mail_smtpsecure' => '{{ nextcloud_mail_smtpsecure }}',
  'mail_smtpauth' => {{ nextcloud_mail_smtpauth }},
  'mail_smtpname' => '{{ nextcloud_mail_smtpname }}',
  'mail_smtppassword' => '{{ secrets.nextcloud_smtp_password }}',
  'twofactor_enforced' => 'false',
  'enable_previews' => true,
  'enabledPreviewProviders' => 
  array (
    0 => 'OC\Preview\PNG',
    1 => 'OC\Preview\JPEG',
    2 => 'OC\Preview\GIF',
    3 => 'OC\Preview\BMP',
    4 => 'OC\Preview\XBitmap',
    5 => 'OC\Preview\Movie',
    6 => 'OC\Preview\PDF',
    7 => 'OC\Preview\MP3',
    8 => 'OC\Preview\TXT',
    9 => 'OC\Preview\MarkDown',
  ),
  'app_install_overwrite' =>
  array (
    0 => 'apporder',
    1 => 'end_to_end_encryption',
    2 => 'ownbackup',
    3 => 'qownnotesapi',
    4 => 'tasks',
    5 => 'onlyoffice',
    6 => 'metadata',
    7 => 'theming_customcss',
    8 => 'camerarawpreviews',
    9 => 'drawio',
    10 => 'piwik',
    11 => 'checksum',
    12 => 'announcementcenter',
    13 => 'files_retention',
  ),
  'allowNightlyUpdates' =>
  array (
    0 => 'passwords',
  ),
  'blacklisted_files' =>
  array (
    0 => '.htaccess',
    1 => 'Thumbs.db',
    2 => 'thumbs.db',
  ),
  'onlyoffice' => array (
    'verify_peer_off' => true
  ),
  'encryption.legacy_format_support' => false,
  'encryption.key_storage_migrated' => false,
];